/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img {
    width: 100%;
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 80%;
    margin: auto; 
}

.menu li{
    display: inline-block;  
    padding-left: 30px; 
    font-weight: 500; 
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #a0a7ac;
    padding-bottom: 15px ;
}

a i {
    font-size: 8px;
}
.menu a:hover {
    color: black;
}

.activate {
    display: none;
}

/* NAV */
nav {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.logo {
    width: 10%;
}

.menu-left {
    width: 25%;
}

.menu-right {
    width: 65%;
    text-align: right;
}

/* Dropdown */
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    padding-top: 20px;
    margin-top: 15px;
    width: 220px;
    display: none;
    box-shadow: 0 0 10px #d2d9e0;
}

.dropdown.product {
    width: 350px;
}

.dropdown .menu li {
    padding-bottom: 20px;
    display: block;
    padding-right: 30px;
    font-weight: 400;
}

.promotion {
    font-size: 12px;
    font-weight: 500;
    color: #eb008e;
    position: absolute;
    top: -8px;
}

/* Menu-Right */
button {
    padding: 10px 15px;
    background-color: #eb008e;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
}

button:focus {
    outline: 0;
}


/* burger-menu */ 
.burger-menu {
    display: none;
}

.link {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgb(59, 59, 172);
    color: white;
    padding: 15px 0;
    text-align: left;
}

.link .menu li {
    display: block;
    padding: 10px 30px;
}

.link .menu a {
    color: white;
    text-transform: uppercase;
}

/* Media query */
@media all and (max-width: 768px) {

    .logo {
        width: 20%;
    }

    .menu-left, 
    .menu-right {
        display: none;
    }

    .menu li {
        display: inline-block;
        text-align: left;
    }

    .burger-menu {
        display: block;
        width: 80%;
        text-align: right;
    }

    .burger-menu i {
        font-size: 20px;
        color: #0d98d3;
    }

    .link {
        top: 50px;
    }

}

@media all and (min-width: 769px) and (max-width: 991px) {

    .logo {
        width: 15%;
    }

    .menu-left {
        width: 70%;
    }
    .menu-left li{
        display: inline;
    }

    .menu-right {
        display: none;
    }

    .burger-menu {
        display: block;
        width: 15%;
        text-align: right;
    }

    .burger-menu i {
        font-size: 20px;
        color: #0d98d3;
    }

    .link {
        top: 60px;
    }
}

@media all and (min-width: 992px) and (max-width: 1200px) {

    .logo {
        width: 15%;
    }

    .menu-left {
        width: 70%;
    }
    .menu-left li{
        display: inline;
    }

    .menu-right {
        display: none;
    }

    .burger-menu {
        display: block;
        width: 15%;
        text-align: right;
    }

    .burger-menu i {
        font-size: 20px;
        color: #0d98d3;
    }

}